<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd ">
    <bean id="person" class="com.wangkaijun.Proson">
        <constructor-arg name="name" value="nemo"></constructor-arg>
        <constructor-arg name="age" value="18" type="java.lang.Integer"></constructor-arg>
        <constructor-arg name="properties">
            
        </constructor-arg>

        <constructor-arg name="list">
            <list>
                <value>a</value>
            </list>
        </constructor-arg>
        <constructor-arg name="set">
            <set>
                <value>LOL</value>
                <value>BOB</value>
                <value>COC</value>
            </set>
        </constructor-arg>
        <constructor-arg name="map">
            <map>
                <entry key="中国邮政" value="1234567"/>
            </map>
        </constructor-arg>
        <constructor-arg name="occupation" ref="occupation"></constructor-arg>
    </bean>

    <bean id="occupation" class="com.wangkaijun.Occupation"></bean>
</beans>